
li {
  list-style-type: none;
  color: #e40007;
}

@media screen and (min-width: 300px) {
  .col-md-3 {
    background-color: #24A061;
  }
}

@media screen and (min-width: 500px) {
  .col-md-3 {
    background-color: #7ED1F5;
  }
}

h3.secondTitle {
  text-shadow: 3px 2px red;
}

h1.mousey:hover {
  background-color: green;
}

li.first {
  color: #BADA55;
}

li.second {
  text-decoration: line-through;
}
