
h1 {
  color: white;
}

.col-xs-1 {
  background-color: #e40007;
  border: 1px solid #fff;
  height: 150px;
}

.col-md-3 {
  background-color: #ff0000;
  border: 1px solid #000;
  height: 150px;
}

.col-md-6, .col-md-9, .col-xs-9, .col-xs-3  {
  background-color: #ff0000;
  border: 1px solid #000;
  height: 150px;
}

.col-lg-4, .col-lg-8, .col-sm-6{
  background-color: #bada55;
  border: 1px solid #000;
  height: 150px;
}

.green {
  height: 400px;
  background-color: green;
  color: white;
}

.yellow {
  height: 250px;
  background-color: yellow;
}
